@page
@model Techo.Pages.ContribuyentesView
@{
    ViewData["Title"] = "Contribuyentes";
}

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#contribuyentesTable').DataTable({
                pageLength: 25,
                ajax: {
                    url: '?handler=contribuyentes',
                    dataSrc: ''
                    //success: function () { addEditButtonsModal();}
                },
                initComplete: function (settings, json) {
                    /*addEditButtonsModal();*/
                    $('button[data-toggle="editContribuyenteModal"]').click(function (event) {
                        var placeholderElement = $("#modal-placeholder");

                        var url = $(this).data('url');
                        $.get(url).done(function (data) {
                            placeholderElement.html(data);
                            placeholderElement.find('.modal').modal('show');
                        });

                        placeholderElement.off();
                        placeholderElement.on('click', '[data-save="modal"]', function (event) {
                            event.preventDefault();


                            var form = $(this).parents('.modal').find('form');
                            var actionUrl = form.attr('action');
                            var dataToSend = form.serialize();



                            $.post(actionUrl, dataToSend).done(function (data) {
                                // data is the rendered _ContactModalPartial
                                var newBody = $('.modal-body', data);
                                // replace modal contents with new form
                                placeholderElement.find('.modal-body').replaceWith(newBody);

                                var isValid = newBody.find('[name="IsValid"]').val() == 'True';

                                if (isValid) {

                                    placeholderElement.find('.modal').modal('hide');

                                    //alert("Cliente actualizado correctamente", true);

                                    table_ajax_reload($('#contribuyentesTable').DataTable())
                                    .then();

                                    //$('#clientesTable').DataTable().ajax.refresh();

                                    //$('#clientesTable').DataTable().ajax.reload();

                                    alert("Contribuyente Actualizado correctamente", true);

                                }
                            });

                        });
                    });
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información disponible",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Mostrando 0 de 0 contribuyentes",
                    "infoFiltered": "(Filtrando de un total de _MAX_ contribuyentes)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar items por página _MENU_",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "No se encontraron contribuyentes",
                    "paginate": {
                        "first": "Primera",
                        "last": "Última",
                        "next": "Próxima",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": Ordenar de forma ascendente",
                        "sortDescending": ": Ordenar de forma descendente"
                    }
                },
                columns: [
                    {
                        title: "Id",
                        data: "id"
                    },
                    {
                        title: "Nombre",
                        data: "nombre"
                    },
                    {
                        title: "Apellido",
                        data: "apellido"
                    },
                    {
                        title: "Entidad Participativa",
                        data: "entidadParticipativa.nombre"
                    },
                    //{
                    //    title: "Numero Documento",
                    //    data: "numeroDocumento"
                    //},
                    {
                        title: "Telefono",
                        data: "telefono"
                    },
                    {
                        title: "Email",
                        data: "email"
                    },
                    {
                        data: "id",
                        orderable: false,
                        render: function (data) { return '<button type="button" class="btn btn-primary btn-sm" data-toggle="editContribuyenteModal" data-url="@Url.Page("Contribuyentes", new { handler = "ContribuyenteModal"})&Id=' + data + '">Editar</button>'; }
                    }
                ]
            });

            function table_ajax_reload(obj) {
                var p3 = new Promise(function (resolve, reject) {
                    //obj.ajax.refresh(true);
                    obj.ajax.reload();
                    location.reload();
                    //location.reload();
                });
                return p3;

            }

            //function addEditButtonsModal() {
            //    $('button[data-toggle="editClienteModal"]').click(function (event) {
            //        var placeholderElement = $("#modal-placeholder");

            //        var url = $(this).data('url');
            //        $.get(url).done(function (data) {
            //            placeholderElement.html(data);
            //            placeholderElement.find('.modal').modal('show');
            //        });

            //        placeholderElement.off();
            //        placeholderElement.on('click', '[data-save="modal"]', function (event) {
            //            event.preventDefault();

            //            var form = $(this).parents('.modal').find('form');
            //            var actionUrl = form.attr('action');
            //            var dataToSend = form.serialize();

            //            $.post(actionUrl, dataToSend).done(function (data) {
            //                // data is the rendered _ContactModalPartial
            //                var newBody = $('.modal-body', data);
            //                // replace modal contents with new form
            //                placeholderElement.find('.modal-body').replaceWith(newBody);

            //                var isValid = newBody.find('[name="IsValid"]').val() == 'True';
            //                if (isValid) {
            //                    placeholderElement.find('.modal').modal('hide');
            //                    $('#clientesTable').DataTable().ajax.reload();
            //                    showResultMessage("Cliente actualizado correctamente", false);
            //                }
            //            });
            //        });
            //    });
            //}
        });
    </script>
}
<partial name="_ResultMessage" model="Model" />

<table id="contribuyentesTable" class="table table-striped table-bordered"></table>

<div style="width:100%; text-align:center;">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-url="@Url.Page("Contribuyentes", "ContribuyenteModal")">Agregar Contribuyente</button>

</div>

<div id="modal-placeholder"></div>